IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 80
SpacesBeforeTrailingComments: 2
SpaceAfterCStyleCast: false
SpaceBeforeParens: Never
IndentCaseLabels: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignArrayOfStructures: Right
SortIncludes: true
IncludeBlocks: Regroup
PointerAlignment: Right
DerivePointerAlignment: false
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakComment: 300
PenaltyBreakString: 1000
Cpp11BracedListStyle: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
InsertTrailingCommas: Wrapped
ReflowComments: true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
AlignTrailingComments: Always
MaxEmptyLinesToKeep: 1
